body{
    background-color: #ced6f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.titulo{
    background-color: #ffffff;
    border-radius: 5%;
}
.titulo h1{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 900;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}